li {
    font-family: 'Quicksand', sans-serif;;
}

body {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0; 
}
